/* input {
    outline: none;
    font-size: 12px;
    line-height: 14px;
    height: 30px;
    width: 200px;
    border: 1px solid #5555555c;
    padding-left: 10px;
    border-radius: 2px;
    color: #555555;
  }
  
  select {
    outline: none;
    font-size: 12px;
    line-height: 14px;
    height: 30px;
    width: 200px;
    border: 1px solid #5555555c;
    padding-left: 10px;
    border-radius: 2px;
    color: #555555;
  }
  
  label {
    font-size: 12px;
    color: #555555;
    padding: 4px;
  }

  .center_div{
    margin: 5px auto;
    width:80% /* value of your choice which suits your alignment 
  } */

  body {
    background-color: white;
}

#loginbox {
    margin-top: 30px;
}

#loginbox > div:first-child {        
    padding-bottom: 10px;    
}

#form > div {
    margin-bottom: 25px;
}

#form > div:last-child {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel {    
    background-color: transparent;
}

.panel-body {
    padding-top: 30px;
    background-color: rgba(2555,255,255,.3);
}

